#menu-back {
    padding-right: 10px;
}

input[type="text"], input[type="date"] {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    min-height: 20px;
    max-height: 20px;
    height: 20px;
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
}

input.name {
    min-width: 950px;
    max-width: 950px;
    width: 950px;
}


/*
.popup {
    min-width: 950px;
    max-width: 950px;
    width: 950px;
    min-height: 950px;
    max-height: 950px;
    height: 950px;
}*/

.popup td {
    padding: 0;
}

.popup table {
    margin-top: 15px;
}

/*table.afColumn td {
    max-width: 100px;!*???*!
    padding: 0;
}*/

/*table[name="file"] {
    margin: 5px;
}*/

table[name="file"] td, table[name="file"] th {
    border: 1px solid black;
    padding: 1px;
}

/*.select-wrapper {
    max-width: 200px;
}*/

.input-field {
    max-width: 200px;
}

.adisabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}

/*.marginonospan {
    margin: 0;
    padding: 0;
}*/

[type="checkbox"]+span.marginonospan:not(.lever) {
    padding-left: 20px;
    height: 20px;
}

.selectray {
    width: 50px;
}

.selectray .select-wrapper input.select-dropdown {
    min-width: 48px;
    max-width: 48px;
    width: 48px;
}

/*
.selectray ul.dropdown-content {
    margin-left: -100px;
}*/

table.findraytable, .findraytable tr, .findraytable td {
    min-width: 0px;
    margin: 0;
    padding: 0;

}

table.findraytable  {
    min-width: 0px;
    width: 10px;
}

.findraytable td.tds1 {
    min-width: 0px;
    width: 10px;
    border: 0;
}

.findraytable td.tds2 {
    min-width: 0px;
    width: 10px;
    border: 0;
}

.tds {
    min-width: 0px;
    width: 10px;
}


